html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.page {
  margin: auto;
  width: 1000px;
  color: #34495e;
  letter-spacing: .08em;
}

.justify p {
  text-align: justify;
}

.button {
  position: fixed;
  right: 1em;
  top: 1em;
  padding: .3em 2em;
  width: 3em;
  border-radius: .2em;
  color: #fff;
  text-align: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.on {
  border: solid 2px #3498db;
  background-color: #3498db;
}

.off {
  border: solid 2px #e74c3c;
  background-color: #e74c3c;
}

h1 {
  font-weight: normal;
  font-size: 2.5em;
  text-align: center;
}

h2 {
  padding: .5em;
  font-weight: normal;
  font-size: 1.5em;
  border-left: solid 4px #3498db;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:visited {
  color: #bdc3c7;
}

a:hover {
  text-decoration: underline;
  color: #e74c3c;
}

p {
  margin: 1em 0;
  background-color: #ecf0f1;
  border: solid 2px #e74c3c;
}

@media screen and ( max-width: 1000px ) {
  .page {
    width: auto;
    margin: 1em;
  }
}
