////////////////////////////////////////////////////////////////////////////////
// Variables
////////////////////////////////////////////////////////////////////////////////

$icon_down: "\e600";
$icon_left: "\e601";
$icon_right: "\e602";
$icon_up: "\e603";
$icon_home: "\e604";
$icon_edit: "\e605";
$icon_category: "\e606";
$icon_tag: "\e607";
$icon_clock: "\e608";
$icon_comment: "\e609";
$icon_config: "\e60a";
$icon_web: "\e60b";
$icon_link: "\e60e";
$icon_bookmark: "\e60f";
$icon_twitter: "\e60d";
$icon_feed: "\e610";
$icon_github: "\e60c";

////////////////////////////////////////////////////////////////////////////////
// Mix-In
////////////////////////////////////////////////////////////////////////////////

@mixin icon_style() {
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
