
color_white      = #fff
color_gray       = #bdc3c7
color_gray_light = #ecf0f1
color_blue       = #2980b9
color_blue_light = #3498db

body, html {
  margin 0
  padding 0
  width 100%
  height 100%
}

.content {
  margin auto
  width 100%
  max-width 1024px

}

.musics {
  margin 1em
  width 100%
  height 50%
  overflow scroll

  th {
    padding .5em
    background-color color_gray
    color color_white
    font-weight normal
  }
}

.editor {
  margin 1em
  width 100%
  height 50%
  overflow scroll

  .form {
    width 100%
    background-color color_gray_light

    th {
      padding .5em
      background-color color_gray
      color color_white
      font-weight normal
      text-align right
      border solid 1px color_gray
    }
    
    td {
      padding .5em
      border solid 1px color_gray

      .textbox {
        box-sizing border-box
        width 100%
        padding .2em
      } 
    }
  }

  .save {
    margin 1em auto
    padding .5em
    max-width 12em
    border-radius .2em
    background-color color_blue
    color color_white
    text-align center

    &:hover {
      background-color color_blue_light
    }
  }
}
